
body {
    //background-color: #FDF8EC;

}

.nav-li{
    display: inline;
    list-style-type: none;
    gap: 10px;
}

.nav-li{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;


}

.logo{
    display:flex;
}

.main-title,
.main-title-description{
    display:flex;
    justify-content: center;
}
